body {
    height: 100vh;
    background-color: teal;
}

.js-clock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerBox {
    display: flex;
    justify-content: center;
    align-items: center;
}